.wpo-hero-slider{
	border-radius: 1.5rem;
	overflow: hidden;
	height: 300px!important;
}
@media (max-width: 1500px){
	.wpo-site-header #navbar > ul > li > a {
	  padding: 16px 14px;
	}
}
@media screen and (min-width: 992px){
	.wpo-site-header #navbar > ul > li > a {
	  font-size: 16px;
	}
@media screen and (min-width: 992px){
	.wpo-site-header #navbar > ul > li > a {
	  padding: 20px 16px;
	}
}